<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'spree/shared/head' %>
<body>
<!--header-->
<%= render partial: 'spree/shared/header' %>



<%= yield %>





<!--footer-->
<%= render partial: 'spree/shared/footer' %>

</body>
</html>