<!DOCTYPE html>
<html lang="en">
  <%= render partial: 'spree/shared/head' %>
<body>

<!--header-->
<%= render partial: 'spree/shared/header' %>

<%= yield %>

<!--footer-->
<%= render partial: 'spree/shared/footer' %>


<!-- Freshchat Plugin-->
<script type='text/javascript'>var fc_JS=document.createElement('script');fc_JS.type='text/javascript';fc_JS.src='https://assets1.freshchat.io/production/assets/widget.js?t='+Date.now();(document.body?document.body:document.getElementsByTagName('head')[0]).appendChild(fc_JS); window._fcWidgetCode='7ovgGLb1';window._fcURL='https://urielmobileafrica.freshchat.io';</script>

</body>
</html>