/*
* This is a manifest file that includes stylesheets for spree_frontend
 *= require spree/frontend/animate
 *= require spree/frontend/bootstrap
 *= require spree/frontend/contact-form
 *= require spree/frontend/font-awesome
 *= require spree/frontend/style
 *= require spree/frontend/fontello
 *= require chosen-compass
 *= require chosen
 *= require_self
*/
