<strong>Congratulations <h2><%= @user.email %></h2></strong>

Your Friend <strong><%= @invited_user.email %></strong> has joined Grid254 <br/>
and you've received <strong>10 Extra Referral Credits</strong> in your account

<br/>
<br/>
<br/>
Thank you,
<br/>
Grid254 Team