<!DOCTYPE html>
<html lang="en">

<head>
    <title>Productlist</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <meta name="format-detection" content="telephone=no" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!--CSS-->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="fonts/font-awesome.css">
    <!--JS-->
    
    <script src="js/jquery.js"></script>
    
    <script src="js/jquery-migrate-1.2.1.min.js"></script> 
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.mobilemenu.js"></script>
    <script src="js/jquery.equalheights.js"></script>
    <script src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.0"></script>
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="js/wow/wow.js"></script>
    <script src="js/wow/device.min.js"></script>
    <!--<![endif]-->

    <link rel="stylesheet" href="css/asRange.css">
    <script src="js/jquery-asRange.js"></script>
  
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>

    <div id="ie6-alert" style="width: 100%; text-align:center;">
    <img src="http://beatie6.frontcube.com/images/ie6.jpg" alt="Upgrade IE 6" width="640" height="344" border="0" usemap="#Map" longdesc="http://die6.frontcube.com" />
      <map name="Map" id="Map"><area shape="rect" coords="496,201,604,329" href="http://www.microsoft.com/windows/internet-explorer/default.aspx" target="_blank" alt="Download Interent Explorer" /><area shape="rect" coords="380,201,488,329" href="http://www.apple.com/safari/download/" target="_blank" alt="Download Apple Safari" /><area shape="rect" coords="268,202,376,330" href="http://www.opera.com/download/" target="_blank" alt="Download Opera" /><area shape="rect" coords="155,202,263,330" href="http://www.mozilla.com/" target="_blank" alt="Download Firefox" />
        <area shape="rect" coords="35,201,143,329" href="http://www.google.com/chrome" target="_blank" alt="Download Google Chrome" />
      </map>
  </div>
  <![endif]-->
    <style type="text/css">
       /* body,html{
            font-family: 'Roboto', sans-serif;
        } */   

        body,html{
            font-family: 'Roboto', sans-serif;
            /*font-family: 'Raleway', sans-serif;*/
            /*font-family: 'Raleway', sans-serif;*/
            /*font-family: 'Open Sans', sans-serif;*/
        }

        .product-container{
            margin-bottom: 20px;
        }

        .product-container a{
           position: relative;
           display: inline-block;
           text-align: center;
           width: 100%;
        }

        .product-container a img{
            width: 100%;
        }
        .product-container:hover .product-title{
            visibility: visible;
            opacity: 1;
        }

        .product-title{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 10px;
            background-color: rgba(0,0,0,0.7);
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.3s linear;
            overflow-wrap: break-word;
            overflow: hidden;
        }

        .product-title-name{
            color: #fff;
            font-size: 16px;
            text-align: left;
            margin: 0px;
            height: 45px;
            /*text-overflow: ellipsis;
            white-space: nowrap;*/
        }



        .product-container.product-container-2 .product-title{
            visibility: visible;
            opacity: 1;
            background: -moz-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
            background: -webkit-linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
            background: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.65) 100%) !important;
            width: 100% !important;
            text-shadow: 0 2px 1em #000000 !important;
            padding-top: 8px !important;
        }

        .product-container.product-container-3.product-container-2n:hover img{
            -webkit-transform:scale(1.1);
            transform:scale(1.1);
            opacity: 1;
        }

        .product-container.product-container-3.product-container-2n img {
            opacity: 0.7;
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }
       

        .product-container.product-container-3:hover img{
            -webkit-transform: rotateY(360deg);
            -webkit-transform-style: preserve-3d;
            transform: rotateY(360deg);
            transform-style: preserve-3d;
        }

        .product-container.product-container-3 .discount-price{
            position:absolute;
            right:0;
            top:0;
            padding:5px;
            background-color:rgba(255,255,255,0.9);
            color: #EA4545;
            width:20%;
            font-weight: bold;
        }

        .product-container.product-container-3:hover img {
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
        }

        .product-container.product-container-3 .cartshare-btn {
            position: relative;
            margin-top: 5px;
            display: block;
        }

        .product-container.product-container-3 .cartshare-btn.half-div{
            width: 50%;
            float: left;
        }

        .product-container.product-container-3 .half-price{
            width: 50%;
            float: left;
            margin-top: 10px;
        }

        .product-container.product-container-3 .product-title{
            visibility: visible;
            opacity: 1;
            position: relative;
            padding: 10px 10px 10px 0px;
            background-color: transparent;
           
        }

        .product-container.product-container-3 .product-title .product-title-name{
            color: #010101;
        }

        .deal-list{
            background-color: #fff;
        }

        .deal-list h3{
            font-size: 20px;
        }

        .deal-type,.discount{
            background-color: transparent;
            border:none;
            padding: 0px;
            margin-bottom: 0px;
        }

        .deal-type .dealtype-full{
            border: 5px solid #f7f7f7;
        }

        .deal-list .deal-list-li{
            /*border-bottom: 4px solid #f7f7f7;*/
            border-bottom: 4px solid transparent;
        }

        .deal-list .deal-list-li:nth-child(3){
            border-bottom: none;
        }

        .deal-list .deal-list-title{
            color: #010101;
            font-size: 16px;
            /*font-family: 'Raleway';*/
            border-bottom: 1px solid #ddd;
            padding-bottom: 2px;
        }

        .deal-list .deal-list-title{
            color: #010101;
            font-size: 16px;
            /*font-family: 'Raleway';*/
            margin: 10px 0px;
        }

        .deal-list .location-item{
            width: 50%;
            min-width: 225px;
        }

        .deal-list .item a{
            color: #888888;
            font-size: 14px;
            /*font-family: 'Raleway';*/
        }

        .deal-list .item .item-available{
            color: #010101;
            font-size: 12px;
            /*font-family: 'Raleway';*/
        }

        .deal-list .item a.btn{
            padding-top:0px;
            padding-left: 0px;
            font-weight: 700; 
        }

        .deal-list .item:hover a{
            color: #010101;
        }


        .thumbnail {
            position: relative;
            overflow: hidden;
        }

        .sale-div {
            position: absolute;
            top: 10px;
            right: 10px;
            border: 1px solid #8e8d8d;
            border-radius: 50%;
            text-align: center;
            padding: 10px;
            transform: 0.3 ease;
        }

        .cartshare-btn {
            background-color: rgba(255, 255, 255, 0.8);
            position: absolute;
            top: 70%;
            right: 0px;
            left: 0;
            text-align: center;
            padding: 5px;
            margin: 0 auto;
            transform: 0.3 ease;
        }
        
        .cartshare-btn button {
            border: 1px solid #ccc;
            color: #888;
            background-color: #fff;
        }

        .cart-div  .descr-div{
            padding:5px 0px 2px;
        }
        .cart-div  .descr-txt{
            color:#999;font-size:14px;line-height:16px;font-weight:400;text-overflow: ellipsis;max-height:40px;margin-bottom: 0px;
        }

        .thumb-pad2 {
            box-shadow: 1px solid transparent;
            border-radius: 3px;
            text-decoration: none;
            box-shadow: 0 7px 17px 0 rgba(255, 255, 255, 1);
            border: solid 1px transparent;
        }

        .cart-div:hover .thumb-pad2 {
            box-shadow: 1px solid #eee;
            z-index: 50;
            border-radius: 3px;
            text-decoration: none;
            box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18);
            border: solid 0.9px #f3f3f3;
        }

        .thumb-pad2 .thumbnail .caption{
            padding: 0px 10px;
        }

        .cart-div {
            padding: 0px;
            margin: 15px 0px;
        }

        .cart-div .product-price {
            text-align:center;font-weight:700;margin: 0px;
        }

        .cart-div .product-price .money{
            color:#EA4545;font: 500 14px/1.75;
        }

        .cart-div .product-price s,
        .cart-div .product-price s .money{
            color: #848484;
        }

        .new-rec {
            padding: 0px;
            margin: 15px 0px;
        }
        .new-rec .thumb-pad2 {
            padding: 15px 15px;
        }
        .new-rec:hover .thumb-pad2 {
            box-shadow: 1px solid #eee;
            z-index: 50;
            border-radius: 3px;
            text-decoration: none;
            box-shadow: 0 7px 17px 0 rgba(23, 84, 116, 0.18);
            border: solid 0.9px #f3f3f3;
        }

        .new-rec:hover .cartshare-btn,
        .new-rec .thumbnail:hover .cartshare-btn {
            display: block;
        }

        .new-rec .thumbnail figure{
            height:175px;
            position: relative;
            width: 100%;
        }

        .new-rec .thumbnail figure img{
            position: absolute;
            top:50%;
            left:50%;
            transform:translateY(-50%) translateX(-50%);
        }

        .ttd-div figure,
        .ttd-div figure img{
            height: 175px;
        }

        .ttd-div figure img{
            position: relative;
            width: 200px;
            margin:0 auto;
        }

        .ttd-div .new-caption{
            position: relative;
            top: 0px;
            right: 5px;
            bottom:0px;
            z-index:99;
            padding:0px !important;
        } 


        .ttd-div .sale-div:first-child{
            position:relative;
            background-color:#fff;
            border: 1px solid #8e8d8d;
            height:50px;
            width:56px;
            font-size:12px;
            margin:0 auto;
            top:0px;
        }


        .ttd-div .sale-div{
            position:relative;
            background-color:#c03e33;
            border-color:#c03e33;
            border-radius:50%;
            margin:0 auto;
            margin-top:5px;
            margin-bottom:5px;
            width:30px;
            height:30px;
            padding: 2px 0px;
            left: 0px;
            right: 0px;
            top: 0px;
        } 

        .ttd-div .sale-div i{
            color:#fff;
            font-size:14px;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);    
        }
        
        .ttd-div .product-price{
            text-align:center;
            font-weight:700;
            margin: 0px;
        }

        .ttd-div .product-description{
            padding:5px 0px 2px;
        }

        .ttd-div .product-description p{
            color:#999;
            font-size:14px;
            line-height:16px;
            font-weight:400;
            text-overflow: ellipsis;
            max-height:40px;
            margin-bottom: 0px;
        }


        .item .checkbox label{
            padding-left: 5px;
        }

        .item .checkbox{
            margin-top: 0px;
        }
    </style>
</head>

<body>
    <!--header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/logo1.png" class="img-responsive"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse" style="margin-top:10px;">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Brands</a>
                            </li>
                            <li><a href="#">Discounts</a>
                            </li>
                            <li><a href="#">Category</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nearby</li>
                            <li><a href="#">location</a>
                            </li>
                            <li><a href="#">Newest</a>
                            </li>
                        </ul>
                    </li>
                    <form class="navbar-form pull-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search by your choice">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">OR</a>
                    </li>
                    <form class="navbar-form pull-left" role="search">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Choose your location">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                    </form> -->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Cart <span class="glyphicon glyphicon-shopping-cart"></span></a>
                    </li>
                    <li><a style="padding-left: 0;padding-right: 0px;">|</a>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#login">Log in <span class="glyphicon glyphicon-user"></span></a>
                    <li><a style="padding-left: 0;padding-right: 0px;">|</a>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#signup">Sign up <span class="glyphicon glyphicon-user"></span></a>
                    </li>
                    <!-- <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li> -->
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <!-- Modal -->
      <!-- <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
              <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            fenil.skywide@outlook.com
          </div>fenil@skywide
          
        </div>
      </div> -->
      <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="omb_login" id="loginbox">
                <!-- <h3 class="omb_authTitle">Login or <a href="#">Sign up</a></h3> -->
                <div class="col-sm-12 col-xs-12">
                    <h3 class="omb_authTitle"><a>Login</a></h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>    
                </div>
                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                    <div class="col-xs-4 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                            <i class="fa fa-facebook visible-xs"></i>
                            <span class="hidden-xs">Facebook</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                            <i class="fa fa-twitter visible-xs"></i>
                            <span class="hidden-xs">Twitter</span>
                        </a>
                    </div>  
                    <div class="col-xs-4 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-google">
                            <i class="fa fa-google-plus visible-xs"></i>
                            <span class="hidden-xs">Google+</span>
                        </a>
                    </div>  
                </div>

                <div class="row omb_row-sm-offset-3 omb_loginOr">
                    <div class="col-xs-12 col-sm-9">
                        <hr class="omb_hrOr">
                        <span class="omb_spanOr">or</span>
                    </div>
                </div>

                <div class="row omb_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-9">    
                        <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input class="form-control" name="username" placeholder="email address" type="text">
                            </div>
                            <span class="help-block"></span>
                                                
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input class="form-control" name="password" placeholder="Password" type="password">
                            </div>
                            <span class="help-block">Password error</span>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                            <!-- <a href="#" onClick="$('#loginbox').hide(); $('#signupbox').show()">Sign Up</a> -->
                        </form>
                    </div>
                </div>
                <div class="row omb_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <label class="checkbox">
                            <input value="remember-me" type="checkbox">Remember Me
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <p class="omb_forgotPwd">
                            <a href="#">Forgot password?</a>
                        </p>
                    </div>
                </div>          
            </div>
          </div>          
        </div>
      </div>

      <div class="modal fade" id="signup" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div id="signupbox" class="omb_login">
                <div class="col-sm-12 col-xs-12">
                    <h3 class="omb_authTitle"><a>Sign up</a></h3>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>    
                </div>
                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                    <div class="col-xs-4 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                            <i class="fa fa-facebook visible-xs"></i>
                            <span class="hidden-xs">Facebook</span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                            <i class="fa fa-twitter visible-xs"></i>
                            <span class="hidden-xs">Twitter</span>
                        </a>
                    </div>  
                    <div class="col-xs-4 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-google">
                            <i class="fa fa-google-plus visible-xs"></i>
                            <span class="hidden-xs">Google+</span>
                        </a>
                    </div>  
                </div>

                <div class="row omb_row-sm-offset-3 omb_loginOr">
                    <div class="col-xs-12 col-sm-9">
                        <hr class="omb_hrOr">
                        <span class="omb_spanOr">or</span>
                    </div>
                </div>

                <div class="row omb_row-sm-offset-3 omb_socialButtons">
                    <div class="col-xs-4 col-sm-3">
                        <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                            <span class="hidden-xs">Signup with email</span>
                        </a>
                    </div>
                </div>

                <div class="row omb_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-9">    
                        <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input class="form-control" name="firstname" placeholder="First Name" type="text">
                            </div>
                             <span class="help-block"></span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input class="form-control" name="lastname" placeholder="Last Name" type="text">
                            </div>
                             <span class="help-block"></span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <input class="form-control" name="username" placeholder="Email Address" type="text">
                            </div>
                            <span class="help-block"></span>
                                                
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input class="form-control" name="password" placeholder="Password" type="password">
                            </div>
                             <span class="help-block"></span>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input class="form-control" name="confirmpassword" placeholder="Confirm Password" type="password">
                            </div>
                            <span class="help-block">Password error</span>

                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                            <a href="#" onClick="$('#signupbox').hide(); $('#loginbox').show()">Login</a>
                        </form>
                    </div>
                </div>
                <div class="row omb_row-sm-offset-3">
                    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
                        <label class="checkbox">
                            <input value="remember-me" type="checkbox">Remember Me
                        </label>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <p class="omb_forgotPwd">
                            <a href="#">Forgot password?</a>
                        </p>
                    </div>
                </div>
            </div>      
          </div>          
        </div>
      </div>

    <!--content-->
    <div class="content" style="margin-top:70px;">
        <div class="thumb-box3">
            <div class="container">
               <h2></h2>
               <div class="row"> 
                   <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="col-md-12 deal-list">
                            <!-- Blog Categories Well -->
                            <div class="well deal-type">
                                <div class="row">
                                    <div class="col-lg-12 dealtype-full">
                                        <ul class="list-unstyled">
                                            <!-- <div class="deal-list-li">
                                                <li class="deal-list-title">Deal Type</li>
                                                <li class="item"><a href="#">Discounts <span class="item-available"> (1203)</span></a>
                                                </li>
                                                <li class="item"><a href="#">Giveaways <span class="item-available"> (1203)</span></a>
                                                </li> 
                                            </div> -->

                                            <div class="deal-list-li">
                                                <li class="deal-list-title">Deal Type</li>
                                                <li class="item">
                                                    <div class="checkbox checkbox-inline checkbox-primary">
                                                        <input id="inlineCheckbox1" value="option1" type="checkbox">
                                                        <label for="inlineCheckbox1"> Discounts <span class="item-available"> (1203)</span> </label>
                                                    </div>                                            
                                                </li>
                                                <li class="item">
                                                    <div class="checkbox checkbox-inline checkbox-primary">
                                                        <input id="inlineCheckbox1" value="option1" type="checkbox">
                                                        <label for="inlineCheckbox1"> Giveaways <span class="item-available"> (1203)</span> </label>
                                                    </div>                                            
                                                </li>
                                            </div>

                                            <div class="deal-list-li">
                                                <li class="deal-list-title">Select Category</li>
                                                <li class="item"><a href="#">Sports & Fitness <span class="item-available"> (1203)</span></a>
                                                </li>
                                                <li class="item"><a href="#">Food & groceries <span class="item-available"> (1203)</span></a>
                                                </li>
                                                <li class="item"><a href="#">Eating & hanging out <span class="item-available"> (1203)</span></a>
                                                </li>
                                                <li class="item"><a href="#">Clothing, shoes & jewelry <span class="item-available"> (1203)</span></a>
                                                </li>
                                                <li class="item"><a href="#">Electronics <span class="item-available"> (1203)</span></a>
                                                <li class="item"><a href="#">Toys, kids & baby <span class="item-available"> (1203)</span></a>
                                                </li>
                                                <li class="item"><a href="#">Automotive & industrial <span class="item-available"> (1203)</span></a>
                                                </li>
                                                <li class="item"><a href="#">Home improvement <span class="item-available"> (1203)</span></a>
                                                </li> 
                                            </div>
<div class="deal-list-li">
    <li class="deal-list-title">Price Range</li>
    <li class="item location-item">
        <div class="example" style="margin-top:50px;">
          <form method="post">
            <input class="range-example-input-2" type="text" min="0" max="150000" value="2,60000" name="points" step="1" />
          </form>
          <script>
            $(document).ready(function() {
              $(".range-example-input-2").asRange({
                range: true,
                limit: false
              });
            });
          </script>
        </div>
    </li>
</div>
                                            <div class="deal-list-li">
                                                <li class="deal-list-title">Discount Range</li>
                                                <li class="item">
                                                    <div class="checkbox checkbox-inline checkbox-primary">
                                                        <input id="inlineCheckbox1" value="option1" type="checkbox">
                                                        <label for="inlineCheckbox1"> 0-10% </label>
                                                    </div>                                            
                                                </li>
                                                <li class="item">
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="inlineCheckbox2" value="option2" type="checkbox">
                                                        <label for="inlineCheckbox2"> 10-20% </label>
                                                    </div>                                            
                                                </li>
                                                <li class="item">
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="inlineCheckbox3" value="option3" type="checkbox">
                                                        <label for="inlineCheckbox3"> 20-30% </label>
                                                    </div>                                            
                                                </li>
                                                <li class="item">
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="inlineCheckbox4" value="option4" type="checkbox">
                                                        <label for="inlineCheckbox4"> 30-40% </label>
                                                    </div>                                            
                                                </li>
                                                <li class="item">
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="inlineCheckbox5" value="option5" type="checkbox">
                                                        <label for="inlineCheckbox5"> 40-50% </label>
                                                    </div>                                            
                                                </li>
                                                <li class="item">
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="inlineCheckbox6" value="option6" type="checkbox">
                                                        <label for="inlineCheckbox6"> 50% or more </label>
                                                    </div>                                            
                                                </li>
                                            </div>

                                            <div class="deal-list-li">
                                                <li class="deal-list-title">Seller</li>
                                                <li class="item location-item">
                                                    <input type="text" class="form-control" placeholder="Search by seller">
                                                </li>
                                                <!-- <li>
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="location1" value="option7" type="checkbox">
                                                        <label for="location1"> USA  </label>
                                                    </div>                                            
                                                </li>
                                                <li>
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="location2" value="location8" type="checkbox">
                                                        <label for="location2"> London  </label>
                                                    </div>                                            
                                                </li>
                                                <li>
                                                    <div class="checkbox checkbox-inline">
                                                        <input id="location2" value="location8" type="checkbox">
                                                        <label for="location2"> South Africa  </label>
                                                    </div>                                            
                                                </li> -->
                                            </div>
                                            
                                        </ul>
                                    </div>
                                    <!-- /.col-lg-6 -->
                                </div>
                                <!-- /.row -->
                            </div>
                            <!-- Side Widget Well -->
                        </div>
                   </div>

                   <div class="col-md-9 col-sm-8 col-xs-12">
                        <div class="col-md-12 col-sm-12 col-xs-12" style="border-bottom:1px solid #ccc;padding-left:0px;padding-right:0px;">
                            <div class="col-md-4 col-sm-4 col-xs-4" style="padding-left:0px;">
                                <button type = "button" class ="btn btn-danger"><i class="fa fa-th-large" aria-hidden="true"></i></button>
                                <button type = "button" class ="btn btn-default"><i class="fa fa-list" aria-hidden="true"></i></button>
                            </div>
                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <form class="form-inline" style="float:right;margin-bottom:5px;">
                                  <div class="form-group">
                                    <label for="email">Sort By</label>
                                    <select class="form-control selectpicker">
                                      <option>Newest</option>
                                      <option>Oldest</option>
                                      <option>AtoZ</option>
                                      <option>Price</option>
                                      <option>Nearest Location</option>
                                    </select>
                                  </div>
                                </form>
                            </div>
                       </div>

                        <h2> Style-1</h2>
                        
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6 new-rec ttd-div">
                                <div class="thumb-pad2">
                                    <div class="thumbnail">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <figure>
                                                    <img src="img/page1_pic5.jpg" alt="" >
                                                </figure>    
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="row">
                                                    <div class="caption new-caption" >
                                                        <div class="sale-div">
                                                                <b>SAVE</b>
                                                                <br />1000/=
                                                        </div>

                                                        <div class="sale-div">
                                                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                                        </div>

                                                        <div class="sale-div" style="background-color:#ed292d;border-color:#ed292d;">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
                                                        </div>
                                                        <div class="sale-div" style="background-color:#e85858;border-color:#e85858;">
                                                            <i class="fa fa-heart" aria-hidden="true" ></i>
                                                        </div>
                                                    </div>    
                                                </div>                                        
                                            </div>    
                                        </div>

                                        <div class="caption" style="padding:0px;">
                                            <div class="clearfix"></div>
                                            <p class="product-price">
                                                <span class="money" data-currency-usd="$150.00" style="color:#EA4545;font: 500 14px/1.75">Now 150.00/= </span>
                                                <span>|</span>
                                                <s style="color: #848484;"><span class="money" data-currency-usd="$160.00">Before 160.00/=</span></s>
                                            </p>
                                            <div class="clearfix"></div>
                                            <div class="product-description">
                                                <p>Dell laptop with 5gb graphics + 25% off</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 new-rec ttd-div">
                                <div class="thumb-pad2">
                                    <div class="thumbnail">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <figure>
                                                    <img src="img/page1_pic5.jpg" alt="" >
                                                </figure>    
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="row">
                                                    <div class="caption new-caption" >
                                                        <div class="sale-div">
                                                                <b>SAVE</b>
                                                                <br />100,000/=
                                                        </div>

                                                        <div class="sale-div">
                                                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                                        </div>

                                                        <div class="sale-div" style="background-color:#ed292d;border-color:#ed292d;">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
                                                        </div>
                                                        <div class="sale-div" style="background-color:#e85858;border-color:#e85858;">
                                                            <i class="fa fa-heart" aria-hidden="true" ></i>
                                                        </div>
                                                    </div>    
                                                </div>                                        
                                            </div>    
                                        </div>

                                        <div class="caption" style="padding:0px;">
                                            <div class="clearfix"></div>
                                            <p class="product-price">
                                                <span class="money" data-currency-usd="$150.00" style="color:#EA4545;font: 500 14px/1.75">Now 150.00/= </span>
                                                <span>|</span>
                                                <s style="color: #848484;"><span class="money" data-currency-usd="$160.00">Before 160.00/=</span></s>
                                            </p>
                                            <div class="clearfix"></div>
                                            <div class="product-description">
                                                <p>Dell laptop with 5gb graphics + 25% off</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 new-rec ttd-div">
                                <div class="thumb-pad2">
                                    <div class="thumbnail">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <figure>
                                                    <img src="img/page1_pic5.jpg" alt="" >
                                                </figure>    
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="row">
                                                    <div class="caption new-caption" >
                                                        <div class="sale-div">
                                                                <b>SAVE</b>
                                                                <br />1000/=
                                                        </div>

                                                        <div class="sale-div">
                                                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                                        </div>

                                                        <div class="sale-div" style="background-color:#ed292d;border-color:#ed292d;">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
                                                        </div>
                                                        <div class="sale-div" style="background-color:#e85858;border-color:#e85858;">
                                                            <i class="fa fa-heart" aria-hidden="true" ></i>
                                                        </div>
                                                    </div>    
                                                </div>                                        
                                            </div>    
                                        </div>

                                        <div class="caption" style="padding:0px;">
                                            <div class="clearfix"></div>
                                            <p class="product-price">
                                                <span class="money" data-currency-usd="$150.00" style="color:#EA4545;font: 500 14px/1.75">Now 150.00/= </span>
                                                <span>|</span>
                                                <s style="color: #848484;"><span class="money" data-currency-usd="$160.00">Before 160.00/=</span></s>
                                            </p>
                                            <div class="clearfix"></div>
                                            <div class="product-description">
                                                <p>Dell laptop with 5gb graphics + 25% off</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-6 new-rec ttd-div">
                                <div class="thumb-pad2">
                                    <div class="thumbnail">
                                        <div class="row">
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <figure>
                                                    <img src="img/page1_pic5.jpg" alt="" >
                                                </figure>    
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-12">
                                                <div class="row">
                                                    <div class="caption new-caption" >
                                                        <div class="sale-div">
                                                                <b>SAVE</b>
                                                                <br />1000/=
                                                        </div>

                                                        <div class="sale-div">
                                                                <i class="fa fa-share-alt" aria-hidden="true"></i>
                                                        </div>

                                                        <div class="sale-div" style="background-color:#ed292d;border-color:#ed292d;">
                                                            <i class="fa fa-shopping-cart" aria-hidden="true" ></i>
                                                        </div>
                                                        <div class="sale-div" style="background-color:#e85858;border-color:#e85858;">
                                                            <i class="fa fa-heart" aria-hidden="true" ></i>
                                                        </div>
                                                    </div>    
                                                </div>                                        
                                            </div>    
                                        </div>

                                        <div class="caption" style="padding:0px;">
                                            <div class="clearfix"></div>
                                            <p class="product-price">
                                                <span class="money" data-currency-usd="$150.00" style="color:#EA4545;font: 500 14px/1.75">Now 150.00/= </span>
                                                <span>|</span>
                                                <s style="color: #848484;"><span class="money" data-currency-usd="$160.00">Before 160.00/=</span></s>
                                            </p>
                                            <div class="clearfix"></div>
                                            <div class="product-description">
                                                <p>Dell laptop with 5gb graphics + 25% off</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                   </div>
               </div>
            </div>    
        </div>
        <!--footer-->
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-6 maxheight4">

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
                        <h2><strong>Information</strong></h2>
                        <ul class="list3">
                            <li><a href="#">About Us</a>
                            </li>
                            <li><a href="#">My Account</a>
                            </li>
                            <li><a href="#">Price list</a>
                            </li>
                            <li><a href="#">Contact</a>
                            </li>
                            <!-- <li><a href="#">Registration</a></li>
                    <li><a href="#">Blogs</a></li> -->
                        </ul>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-6 maxheight4">

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
                        <h2><strong>Help</strong> Center</h2>
                        <ul class="list3">
                            <li><a href="#">Assistance</a>
                            </li>
                            <li><a href="#">FAQ</a>
                            </li>
                            <li><a href="#">Winners&apos; comments</a>
                            </li>
                            <li><a href="#">Refill the account</a>
                            </li>
                            <!-- <li><a href="#">Payments</a></li> -->
                        </ul>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-6 maxheight4">

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
                        <h2><strong>Partners</strong></h2>
                        <ul class="list3">
                            <li><a href="#">Lorem ipsum dolor</a>
                            </li>
                            <li><a href="#">Conse ctetur adipisicing</a>
                            </li>
                            <li><a href="#">Elit sed do eiusmod tempor</a>
                            </li>
                            <li><a href="#">Incididunt ut labore</a>
                            </li>
                            <!-- <li><a href="#">Et dolore magna aliqua</a></li>
                    <li><a href="#">Ut enim ad minim</a></li> -->
                        </ul>
                    </div>
                    <!--<div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
                         <h2><strong>Facebook</strong> Like Box</h2>
                        <div class="fw_facebook">
                            <div data-show-border="false" data-stream="false" data-header="false" data-show-faces="true" data-colorscheme="light" data-href="https://www.facebook.com/TemplateMonster" data-width="270px" class="fb-like-box fb_iframe_widget" id="fb-like-box"></div>
                        </div> -->
                        <!-- <h2><strong>Socail</strong> Links</h2>
                        <div class="social-div">
                            <ul class="social_icons fade_in animated fadeIn">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>    
                        </div> 
                    </div>-->
                </div>
                <div class="copyright">
                    <div class="col-lg-12 col-md-6 col-sm-12">
                        <p class="privacy">Online Auction &copy; <em id="copyright-year"></em>. <a href="#">Privacy Policy</a>
                        </p>
                    </div>
                    <!-- <div class="col-lg-9 col-md-6 col-sm-12">
                        <div class="social-div">
                            <ul class="social_icons fade_in animated fadeIn">
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>    
                        </div>
                    </div> -->                    
                </div>
            </div>
            <!-- More <a rel="nofollow" href="http://www.templatemonster.com/category/auction-website-templates/" target="_blank">Auction Website Templates at TemplateMonster.com</a> -->
        </footer>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/tm-scripts.js"></script>

</body>

</html>