<div class="thumb-box3">
  <div class="container">
    <h2><strong>Current</strong> Auctions</h2>

    <div class="row">

      <% @products.last(4).each do |product|%>
          <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
            <div class="thumb-pad2">
              <div class="thumbnail">
                <span>23 : 15 : 25</span>
                <figure><%= product_image(product, itemprop: "image") %></figure>
                <div class="caption">
                  <p class="price">Price: $258</p>
                  <strong>386</strong>
                  <%= content_tag(:a, truncate(product.name, length: 50), itemprop: "name", title: product.name) %>

                  <div class="clearfix"></div>
                  <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
    <a href="#" class="btn-default btn4">See all auctions</a>
  </div>
</div>