<div class="thumb-box3">
    <div class="container">
      <h2><strong>Current</strong> Auctions</h2>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
          <div class="thumb-pad2">
            <div class="thumbnail">
              <span>23 : 15 : 25</span>
              <figure><img src="/assets/page1_pic5.jpg" alt=""></figure>
              <div class="caption">
                <p class="price">Price: $258</p>
                <strong>386</strong>
                <a href="#">Excepteur sint occaecat cupidatat non</a><div class="clearfix"></div>
                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
          <div class="thumb-pad2">
            <div class="thumbnail">
              <span>23 : 15 : 25</span>
              <figure><img src="/assets/page1_pic6.jpg" alt=""></figure>
              <div class="caption">
                <p class="price">Price: $258</p>
                <strong>11</strong>
                <a href="#">Excepteur sint occaecat cupidatat non</a><div class="clearfix"></div>
                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
          <div class="thumb-pad2">
            <div class="thumbnail">
              <span>23 : 15 : 25</span>
              <figure><img src="/assets/page1_pic7.jpg" alt=""></figure>
              <div class="caption">
                <p class="price">Price: $258</p>
                <strong>86</strong>
                <a href="#">Excepteur sint occaecat cupidatat non</a><div class="clearfix"></div>
                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 maxheight2">
          <div class="thumb-pad2">
            <div class="thumbnail">
              <span>23 : 15 : 25</span>
              <figure><img src="/assets/page1_pic8.jpg" alt=""></figure>
              <div class="caption">
                <p class="price">Price: $258</p>
                <strong>27</strong>
                <a href="#">Excepteur sint occaecat cupidatat non</a><div class="clearfix"></div>
                <a href="#" class="btn-default btn3">Submit a bid <em><i>X</i> 3</em></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="btn-default btn4">See all auctions</a>
    </div>
  </div>