<!--footer-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
        <h2><strong>Information</strong></h2>
        <ul class="list3">
          <li><a href="index-1.html">About Us</a>
          </li>
          <li><a href="#">My Account</a>
          </li>
          <li><a href="#">Price list</a>
          </li>
          <li><a href="index-4.html">Contact</a>
          </li>
          <!-- <li><a href="#">Registration</a></li>
  <li><a href="#">Blogs</a></li> -->
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
        <h2><strong>Help</strong> Center</h2>
        <ul class="list3">
          <li><a href="#">Assistance</a>
          </li>
          <li><a href="#">FAQ</a>
          </li>
          <li><a href="#">Winners&apos; comments</a>
          </li>
          <li><a href="#">Refill the account</a>
          </li>
          <!-- <li><a href="#">Payments</a></li> -->
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
        <h2><strong>Partners</strong></h2>
        <ul class="list3">
          <li><a href="#">Lorem ipsum dolor</a>
          </li>
          <li><a href="#">Conse ctetur adipisicing</a>
          </li>
          <li><a href="#">Elit sed do eiusmod tempor</a>
          </li>
          <li><a href="#">Incididunt ut labore</a>
          </li>
          <!-- <li><a href="#">Et dolore magna aliqua</a></li>
  <li><a href="#">Ut enim ad minim</a></li> -->
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6 maxheight4">
        <!-- <h2><strong>Facebook</strong> Like Box</h2>
        <div class="fw_facebook">
            <div data-show-border="false" data-stream="false" data-header="false" data-show-faces="true" data-colorscheme="light" data-href="https://www.facebook.com/TemplateMonster" data-width="270px" class="fb-like-box fb_iframe_widget" id="fb-like-box"></div>
        </div> -->
        <h2><strong>Socail</strong> Links</h2>
        <div class="social-div">
          <ul class="social_icons fade_in animated fadeIn">
            <li>
              <a href="#">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="col-lg-12 col-md-6 col-sm-12">
        <p class="privacy">Online Auction &copy; <em id="copyright-year"></em>. <a href="#">Privacy Policy</a>
        </p>
      </div>
      <!-- <div class="col-lg-9 col-md-6 col-sm-12">
          <div class="social-div">
              <ul class="social_icons fade_in animated fadeIn">
                  <li>
                      <a href="#">
                          <i class="fa fa-facebook"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-twitter"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-instagram"></i>
                      </a>
                  </li>
                  <li>
                      <a href="#">
                          <i class="fa fa-linkedin"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div> -->
    </div>
  </div>
  <!-- More <a rel="nofollow" href="http://www.templatemonster.com/category/auction-website-templates/" target="_blank">Auction Website Templates at TemplateMonster.com</a> -->
</footer>