<div class="thumb-box6">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2><strong>About</strong> Us</h2>
          <ul class="list1">
            <li>
              <div class="badge fa fa-laptop"></div>
              <div class="extra-wrap">
                <strong>Excepteur sint occaecat <br>cupidatat non</strong>
              </div>
              <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            </li>
            <li>
              <div class="badge fa fa-thumbs-o-up"></div>
              <div class="extra-wrap">
                <strong>Excepteur sint occaecat <br>cupidatat non</strong>
              </div>
              <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            </li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2><strong>Events</strong></h2>
          <ul class="list2">
            <li>
              <span>01/</span>
              <div class="extra-wrap">
                <strong>Excepteur sint occaecat <br>cupidatat non</strong>
              </div>
              <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            </li>
            <li>
              <span>02/</span>
              <div class="extra-wrap">
                <strong>Excepteur sint occaecat <br>cupidatat non</strong>
              </div>
              <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>