<div class="thumb-box1">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-12">
          <p>The best place<strong>to buy and sell!</strong></p>
          <a href="#" class="btn-default btn2">Register</a>
        </div>
      </div>
    </div>
  </div>