<li>
  <%= form_tag product_offer_list_product_path(:id=>"search"), :method => :get, class: "navbar-form" do %>
    <span><%= select_tag :product_type, options_for_select(Spree::Taxon.all.collect{ |u| [u.name, u.name]}.unshift(['All',nil]), selected: params[:product_type]),{:class =>"select_combobox"} %></span>
     
    <span><%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control" %></span> 
      <span><%= submit_tag Spree.t(:search), :name => nil, class: "btn" %></span>
  <% end %>
</li>


<style type="text/css">
.select_combobox{
    border: none;
    padding: 8px 5px;
    background-color: #e7e7e7;
    color: #555;
    position: relative;
}	
.select_combobox:focus{
	outline: none;
	border: none;
	box-shadow: none;
}

</style>