<li>
  <%= form_tag product_offer_list_product_path(:id=>"input_search"), :method => :get, class: "navbar-form" do %>
    <span><%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control" %></span> 
      <span><%= submit_tag Spree.t(:search), :name => nil, class: "btn" %></span>
  <% end %>
</li>
