<li>
  <%= form_tag product_offer_list_product_path(:id=>"search"), :method => :get, class: "navbar-form" do %>

    <span><%= select_tag :product_type, options_for_select(Spree::Taxon.all.collect{ |u| [u.name, u.name]}.unshift(['Browse',nil]), selected: params[:product_type]),{:class =>"select_combobox"} %></span>
     
    <span><%= search_field_tag :keywords, params[:keywords], :placeholder => Spree.t(:search), class: "form-control search-input" %></span> 
    <span class="search-link"><%= submit_tag "", :class => "search-icon-box" %><i class="fa fa-search"></i></span>
  <% end %>
</li>


<style type="text/css">
.select_combobox{
    border: none;
    padding: 8px 5px;
    background-color: #fff;
    color: #555;
    position: relative;
    width: 100px !important;
    margin-right: 20px !important;
}	
.select_combobox-hover{
  background-color: #e7e7e7 !important;
  }
.select_combobox:focus{
	outline: none;
	border: none;
	box-shadow: none;
}
.search-input{
  
  border: 1px solid #cccccc;
  border-right: 0;
  border-radius: 4px 0px 0px 4px;
  padding: 6px 12px;
  height: 35px;
  margin-top: -1px;

}
.search-icon-box{
    border-radius: 0px 4px 4px 0px;
    border: 1px solid #ccc;
    padding: 6px 21px;
    height: 35px;
    background-color: transparent;
    position: absolute;
    right: 6px;
    top: 9px;
}
.search-link {
  padding: 0px 9px;
}
</style>
<script type="text/javascript">

  $(document).on("click","#product_type",function() {
    
    // debugger
    // $(this).toggleClass('select_combobox-hover');
  })
</script>