<div class="stellar-section">
    <div class="thumb-box5" data-stellar-background-ratio="0.1">
      <div class="container">
        <h2><strong>Join</strong> the Winners</h2>
        <div class="box1">
          <figure><img src="/assets/page1_pic9.png" alt=""></figure>
          <div class="caption">
            <figure><img src="/assets/page1_pic10.png" alt=""></figure>
            <figure><img src="/assets/page1_pic11.png" alt=""></figure>
          </div>
        </div>
        <div class="box2">
          <div class="caption">
            <figure><img src="/assets/page1_pic12.png" alt=""></figure>
            <figure><img src="/assets/page1_pic13.png" alt=""></figure>
          </div>
          <figure><img src="/assets/page1_pic22.png" alt=""></figure>
        </div>
        <div class="box3">
          <figure><img src="/assets/page1_pic14.png" alt=""></figure>
        </div>
        <div class="box4">
          <div class="caption">
            <figure><img src="/assets/page1_pic15.png" alt=""></figure>
            <figure><img src="/assets/page1_pic16.png" alt=""></figure>
          </div>
          <figure><img src="/assets/page1_pic17.png" alt=""></figure>
        </div>
        <div class="box5">
          <figure><img src="/assets/page1_pic18.png" alt=""></figure>
          <div class="caption">
            <figure><img src="/assets/page1_pic19.png" alt=""></figure>
            <figure><img src="/assets/page1_pic20.png" alt=""></figure>
          </div>
        </div>
        <div class="box3">
          <figure><img src="/assets/page1_pic21.png" alt=""></figure>
        </div>
      </div>
    </div>
  </div>